.gitignore
*
!Notes/
!Notes/Notes.pdf
!Report*/
!Report*/*.tex
!Report*/*.pdf
!Report*/*.py
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
.vscode/
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.pdfsync
*.blg
*.bbl
~$*
*.tmp
*.zip
