Notes/

# --- SISTEMA OPERATIVO ---
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# --- EDITOR (VS Code) ---
.vscode/

# --- LATEX (File ausiliari inutili su GitHub) ---
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.pdfsync
*.blg
*.bbl

# --- OFFICE & TEMPORANEI ---
~$*
*.tmp

# --- ARCHIVI (Se non vuoi caricare gli .zip) ---
*.zip
